body{
        background: linear-gradient(rgb(181, 107, 181), rgb(196, 196, 113));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
#heading{
        color: rgb(62, 29, 93);
 }
#krom{
    color:violet ;
}
#kor{
    font-family: papyrus;
    color: yellow;
}
#name{
    color: rgb(176, 12, 12);
}
#button{
    color:rgb(208, 222, 21);
    background-color: blueviolet;
    border-radius: 7px
}
#reasons{
    color: aqua;
}
ul{
    border-style: dotted;
    border-width: 5px;
    border-color: gold;
}
#intro{
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 250px;
    background: rgb(255, 0, 242) ;

}
#intro2{
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 250px;
    background: rgb(242, 255, 0) ;
    position: relative;
    bottom: 275px;
    left: 400px;
}

#button:hover{
    color: blueviolet;
    background-color: yellow;
}
#button:active{
    background-color: brown;
    color:tomato;
}
#word{
    color: yellow;
    text-shadow: 2px 5px 0px violet, 0px -8px 0px violet, 20px 0px 0px violet, -12px -3px 0px violet;

}
#bigshot{
    border-style: solid;
    border-radius: 40px;
    background: lightblue;
    width: 40px;
    text-align: center;
    position: absolute;
    top:600px;
    animation: pipis;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
#bigshot:hover{
    animation: 10s linear 0s infinite paused pipis;
    opacity: 0.2;
}
@keyframes pipis{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}
#logstatus{
    color: brown;
}
#submit{
    color:rgb(208, 222, 21);
    background-color: blueviolet;
    border-radius: 7px
}
#submit:hover{
    color: blueviolet;
    background-color: yellow;
}
#submit:active{
    background-color: brown;
    color:tomato;
}
#logst{
    color: aquamarine;
    bottom: dotted;
}